<template name="admin">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="col-sm-3">TIME</th>
					<th class="col-sm-3">MONDAY FEB 1ST</th>
					<th class="col-sm-3">TUESDAY FEB 2ND</th>
					<th class="col-sm-3">WEDNESDAY FEB 3RD</th>
				</tr>
			</thead>
			<tbody>
				{{#each slots}}
					{{> adminslot}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>	

<template name="adminslot">
	<tr id="{{row}}">
		<td class="col-sm-3">{{this}}</td>
		{{#each days}}
			{{> adminday}}
		{{/each}}
	</tr>
</template>

<template name="adminday">
	<td class="col-sm-3 slot" id="{{col}}{{row ..}}">{{ email ..}}</td>
</template>