<template name="signup">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="col-sm-3">TIME</th>
					<th class="col-sm-3">MONDAY FEB 1ST</th>
					<th class="col-sm-3">TUESDAY FEB 2ND</th>
					<th class="col-sm-3">WEDNESDAY FEB 3RD</th>
				</tr>
			</thead>
			<tbody>
				{{#each slots}}
					{{> slot}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>	

<template name="slot">
	<tr id="{{row}}">
		<td class="col-sm-3">{{this}}</td>
		{{#each days}}
			{{> day}}
		{{/each}}
	</tr>
</template>

<template name="day">
	<td class="col-sm-3 slot {{isTaken ..}}" id="{{col}}{{row ..}}"></td>
</template>