<template name="signup">
	<div class="row">
		<div class="col-sm-12">
			<h2>Instructions</h2>
			<p>Please sign up with your email before picking a slot for auditions. Clicking on a blank slot will sign you up for that slot. Slots which are red are already taken.</p>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="col-sm-3">TIME</th>
					<th class="col-sm-3">SUNDAY FEB 5TH</th>
					<th class="col-sm-3">MONDAY FEB 6TH</th>
					<th class="col-sm-3">TUESDAY FEB 7TH</th>
				</tr>
			</thead>
			<tbody>
				{{#each slots}}
					{{> slot}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>	

<template name="slot">
	<tr id="{{row}}">
		<td class="col-sm-3">{{this}}</td>
		{{#each days}}
			{{> day}}
		{{/each}}
	</tr>
</template>

<template name="day">
	<td class="col-sm-3 slot {{isTaken ..}}" id="{{col}}{{row ..}}"></td>
</template>